@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #A4CECD; /* Remplacez cette couleur par celle que vous souhaitez */
}

h1 {
  font-family: "Times New Roman", Times, serif;
}
