@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Athena";
}

h2 {
  font-family: "Helvetica Neue";
}

p {
  font-family: "Helvetica Neue";
}

li {
  font-family: "Helvetica Neue";
}

