@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff2e7; /* Remplacez cette couleur par celle que vous souhaitez */
}
h1 {
  font-family: "Times New Roman", Times, serif;
}

.custom-img {
  background-image: url("/assets/image/heroimage.png");
  background-position: 100% center; /* Image alignée à droite */
}

.proofbar {
  margin-top: -110px;
}

.custom-img2 {
  background-image: url("/assets/image/tableausombre.png");
}

@media (min-width: 800px) {
  .proofbar img {
    height: 35px;
    width: auto;
    margin: 0 50px;
  }
}

@media (max-width: 800px) {
  .proofbar img {
    height: 25px;
    width: auto;
    margin: 0;
  }
}
.custom-img3 {
  background-image: url("/assets/image/tableausombre2.png");
}